/*----------------------------- */
/*BASIC SETUP */
/*---------------------------- */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato' , 'Arial' , sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;

}

/*----------------------------- */
/*REUSABLE COMPONENTS*/
/*---------------------------- */
.row {    /*this div class is used in the entire code so its REUSABLE*/
  max-width: 1140px;
  margin: 0 auto;
}

section{
  padding: 50px 0; /*Usually margin is used*/
  height: 100vh; /*makes the whole division be in a single page*/
}

/*----HEADINGS-----*/

h1,h2 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1{
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 300%;
  word-spacing: 4px;
}

h2{
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

h2:after{
  display: block;
  height: 2px;
  background-color: #d35400;
  content: " "; /*after pseudo class need to mention the content and dont want any content so left behind */
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}
/*
h3{
  font-size: 250%;
  word-spacing: 2px;
  background-color: #343a40;
  text-align: center;
  color: #ffffff;
} */
/*----PARAGRAPH----*/

.aboutcopy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  word-spacing: 3px;
}

/*----BUTTONS----*/

.btn:link,
.btn:visited  {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s ;
  transition: background-color 0.2s, border 0.2s, color 0.2s ;
}

.btn-full:link,
.btn-full:visited {
  background-color: #d35400;
  border: 1px sold #d35400;
  color: #fff;
  margin: 16px
}

.btn-ghost:link,
.btn-ghost:visited {

  border: 1px solid #d35400;
  color: #d35400;
}

.btn:hover,
.btn:active {
  background-color: #d35400;
}

.btn-full:hover,
.btn-full:active {

  border: 1px sold #5c2500;

}

.btn-ghost:hover,
.btn-ghost:active
{
  border: 1px solid #d35400;
  color: #fff;
}

/*----------------------------- */
/*HEADER*/
/*---------------------------- */

header {
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.8)),to(rgba(0, 0, 0, 0.8))) ,  url(img/hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)) ,  url(img/hero.jpg);  /*bg image inserted*/
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform:translate(-50%,-50%);
    transform: translate(-50%, -50%); /*translate is used to move an element from its current position depending on the x and y coordinates */
}

/*Logo on the top left */
.logo{
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}
/* top right navigation bar*/
.main-nav {
    float: right;      /*get the navigation float to the right*/
    list-style: none;  /*get rid of bullet points*/
    margin-top: 55px;

}

.main-nav li{
  display: inline-block; /*to display in block hori/*Navigation elements css*/
  margin-left: 40px;  /*to give margin in the elements*/
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0; /*top and bottom is 8px ; left and right is 0px */
    color: #fff; /*Color is white*/
    text-decoration: none; /*No decoration required*/
    text-transform: uppercase; /*to make text uppercase*/
    font-size: 90%;
    border-bottom: 2px solid transparent; /*Make the border transparent when only visited */
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22; /*Make the color go orange when active*/
}

/*------------------*/
/*--FORMS---*/
/*----------------*/
/*
.loginclass {
  background-color: #343a40;
  text-align: center;
  color: #ffffff;
}
*/
